@import '../../../variables';

.offerElement {
  margin-bottom: 15px;
  padding: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $backgroundColor;

  &__info {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $mainColor;
    display: flex;
  }

  &__elemNumber {
    font-weight: 600;
    margin-right: 15px;
    font-size: 18px;
  }

  &__types {
    display: flex;
    flex-wrap: wrap;

    &>div {
      margin-right: 10px;
      color: $mainColor;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__remote {
    color: $mainColor;
    margin-left: auto;
    padding-left: 10px;
    font-weight: 600;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      left: -10px;
      background: $mainColor;
    }
  }
}
